<!-- note that ionic will likely remove the need to have the encapsulating single quotes around the view title in their next stable release -->
<ion-side-menus>

  <!-- CENTER CONTENT -->
  <ion-pane ion-side-menu-content drag-content="false">
    <ion-header-bar class="bar-calm">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <button menu-toggle="right" class="button button-icon icon ion-gear-a"></button>
  </ion-header-bar>
    <ion-nav-view name="main"></ion-nav-view>
  </ion-pane>

  <!-- LEFT SIDE MENU -->
  <ion-side-menu side="left">
    <ion-nav-view name="left"></ion-nav-view>
  </ion-side-menu>

  <!-- RIGHT SIDE MENU -->
  <ion-side-menu side="right">
    <ion-nav-view name="right"></ion-nav-view>
  </ion-side-menu>

</ion-side-menus>
<toaster-container toaster-options="{'time-out': 1500, 'close-button':true, 'position-class': 'toast-top-center'}"></toaster-container>


