<ion-header-bar align-title="left" class="bar-positive bar-dark">
    <h1 class="title ">Queries</h1>
</ion-header-bar>
<ion-content>

    <input type="search" ng-model="q" placeholder="filter queries..." value="" ng-init="onlyFailed=false" />
    <ul class="example-animate-container">
    <ion-list ng-repeat="query in queries | orderBy:'name'  | filter:{ name: q} as results track by query.id">
        <ion-item nav-clear menu-close ui-sref="^.view({id: query.id})" >{{query.name}}</ion-item>
    </ion-list>
    <li class="animate-repeat" ng-if="results.length == 0">
      <strong>No results found...</strong>
    </li>
    </ul>

</ion-content>
