 <ion-nav-view>
    <ion-view>
      <ion-content>

            <div class="list content padding has-header">
              <label class="item item-input item-floating-label">
                <span class="input-label">Url</span>
                <input type="text" placeholder="Copy your query url here" ng-model="query.url">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="And give her a name" ng-model="query.name">
              </label>
            <button class="button button-block button-positive" ng-click="save()" >
              Save
            </button>
            <button class="button button-block button-stable" ng-click="cancel()" >
              cancel
            </button>
            <ion-nav-back-button class="button-clear">
                <i class="ion-arrow-left-c"></i> Back
            </ion-nav-back-button>
            </div>

      </ion-content>
    </ion-view>
  </ion-nav-view>

