<ion-header-bar align-title="left" class="bar-positive bar-dark">
    <h1 class="title ">Queries</h1>
</ion-header-bar>
<ion-content>
    <button class="button button-positive" ng-click="test()">
      button-positive
    </button>

<!--
    <ul class="example-animate-container">
    <ion-list ng-repeat="query in queries track by query.id">
        <ion-item nav-clear menu-close ui-sref="^.view({ id: query.id })" >{{query.name}}</ion-item>
    </ion-list>
        </ul>
-->
    <ul>
    <li ng-repeat="query in queries track by query.id">
        {{query.name}}
    </li>

    </ul>
</ion-content>
