<ion-nav-view>
    <ion-view >
      <ion-content >
        <div class="content">
          <h5 class="title align-center">{{label}}</h5>
        </div>
        <div class="content padding" >
            <canvas id="pie" class="chart chart-pie" data="data.rowValues"  labels="data.rowLabels" legend="true"></canvas>

            <table id="tblData" st-table="data" class="table table-striped">
                <thead>
                <tr>
                    <th>{{data.columns[0].Label}}</th>
                    <th>{{data.columns[1].Label}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in data.rawData.DataFeed[0].Rows">
                    <td>{{row[data.columns[0].Name]}}</td>
                    <td>{{row[data.columns[1].Name].toFixed(2)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </ion-content>
        <div class="bar bar-footer bar-calm" align-title="center" title="headerTitle">
             <button class="button icon ion-clock" ng-click="showMenu()"> Manage </button>
        </div>
    </ion-view>
</ion-nav-view>

