body {
}

#tblData th
{
    font-weight: bold;
}

.toast-top-center {
      top: 80px;
}

.align-center {
    text-align: center;
}

.bar-transparent {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    background-color:transparent !important;
    border-bottom: none;
}

.align-right {
    text-align:right !important;
    float: right !important;
}
